body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
#root{
  height:100vh;
  background: linear-gradient(45deg, #6cc4d7, #9e4cd0);
  
  background: linear-gradient(73deg, #93ecff, #a00afc);
}
#root>div{
  height: 100vh;
}


#root ::-webkit-scrollbar {
  width: 0.3rem;
  border-radius: 0.5rem;
  background-color: hsla(30, 100%, 99%, 0.604);
  margin-right:10%;
  
}
::-webkit-scrollbar-thumb {
  border-radius: 0.3rem;
  background-color: hsl(0, 0%, 100%);
  border-radius: 0.5rem;
}


button{
  color: blue;
  transition: all 0.6s ease;
  border-radius: 41px;

}
button:hover{
  background-color: rgb(47, 47, 144);
  color:white;
  overflow: hidden;
  transition: all 0.3s ease;
}


@keyframes rotate{
0% {
  transform: translateX(50%) translateY(-50%) translateY(-60%) rotate(0deg);
}
100% {
  transform: translateX(50%) translateY(-50%) translateY(-60%) rotate(-359deg);
}
}